@font-face {font-family: "iconfont";
    src: url('../iconfont/iconfont.eot?t=1557716072241'); /* IE9 */
    src: url('../iconfont/iconfont.eot?t=1557716072241#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJoAAsAAAAABhQAAAIeAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAocPgE2AiQDCAsGAAQgBYRtBzQbaAXILrBt2JMiLeMGFhND/ASMy5khgu/3++25737VhFqkexZNNEtUhkolQWyUSkgeOn+ftd++CqHtdcyTadJ6up34bljCWyYVCBFCI+TLCZ6h/Kzvr0Z/n+dyehPoQOYHOrfVXDbW4qNegHEgBboHRpGVUMYNYxe8wMcE6mbMqh0eXVxDV2avCsRD4FnQLaRlmdWqQrnhYBZvSqrpJX0Dr9H3489ydElKBXvg5P7QhZ1PTkPjZfIC1wEhQ0DHSyiwBWTiorF8pCEY11AvNy2AY/UGn6oqCIujBgT76+zuJpiCleCTt1KABI81VYHypCNEccMzlWfswp8Vz2kHagge/6+PjEl1Gxl83I/82bAoqG7iiInqp+sDh7JhsUMpa3qjO5knSKirYwLH+/6mekfXqYeq0YRoxXSGQtUSmdktlDRso6xqB3Wbjo83DIiGyDVs+AQIXV9I2t5R6PohM/uLkrF/lHWjgbqrcGHDSgT9hSwlF+0nDJwsZTei/bj3kry72JK8JeJvScogh0vzi+XaMaUkS2wp771lVUaWLMEj8BzFcYa5ZCE5Ou+r5tsLC9z0pnknS6DvgCAWRVzI9gQFHJkUB+NVv/L5S8RzJ2aRDlNdeYuIUjA7WjJvcQB57EwHmR7lldI9zzKlGGIik0BHYB6JxTIob54XIg41z59QzG1bcEbxUOf89u7k705Ane1L4bQU6k9k33tpeWkNAA==') format('woff2'),
    url('../iconfont/iconfont.woff?t=1557716072241') format('woff'),
    url('../iconfont/iconfont.ttf?t=1557716072241') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('../iconfont/iconfont.svg?t=1557716072241#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-webicon215:before {
    content: "\e68d";
}

.tree-wrapper {
    /* min-width: 100px; */
    display: inline-block;
    padding-right: 30px;
    border-right: 1px solid #ccc;
    /* pointer-events: none; */
}
.tree-wrapper .lab {
    font-size: 24px;
    line-height: 40px;
    position: relative;
    pointer-events: none;
}
.menu-name {
    pointer-events: auto;
}

.tree-wrapper .lab.has-menu::before {
    pointer-events: auto;
    content: '\e68d';
    position: absolute;
    left: 0;
    top:  10px;
    width: 30px;
    height: 30px;
    line-height: 20px;
    color: #c0c4cc;
    transform: rotate(0deg);
}
.tree-wrapper .lab.has-menu.close::before {
    /* transform: rotate(-45deg); */
    top: 0;
    transform: rotate(-90deg);
}
.tree-wrapper .lab.sm {
    font-size: 16px;
    line-height: 25px;
    padding-left: 30px;
}
.tree-wrapper .lab.md {
    font-size: 20px;
    line-height: 30px;
    padding-left: 30px;

}
.tree-wrapper .lab.lg {
    font-size: 24px;
    line-height: 40px;
    padding-left: 30px;

}
.tree-wrapper .lab.md.has-menu::before, .lab.sm.has-menu::before {
    top: 5px;
    left: 0;
    height: 20px;
}
.tree-wrapper .lab.md.has-menu.close::before, .lab.sm.has-menu.close::before {
    top: 0px;
    height: 20px;
    left: -5px;
}
.menu-container.show {
    display: block;
}
.menu-container.hide {
    display: none;
}